body {
  background: #f6f6fa;
  padding: 40px;
  font-family: "Montserrat", serif;
}

ul,
ol,
p {
  margin-top: 0;
  margin-bottom: 0;
}

.wrapper {
  background: #ffffff;
  display: flex;
  flex-direction: row-reverse;
  max-width: 1200px;
  margin: 0 auto;
}

.main-content {
  padding: 80px 40px 80px 80px;
  box-sizing: border-box;
}
.sidebar {
  width: 370px;
  background: #e0ebfe;
  box-sizing: border-box;
  padding: 40px 0 40px;
}

.sidebar-content {
  padding: 40px 40px 0 40px;
}

.contacts-title {
  color: #161d2a;
  font-size: 22px;
  font-weight: 700;
  line-height: normal;
  margin: 0 0 8px;
}

.contacts-tipe {
  color: #161d2a;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  margin: 0 8px 0 0;
}

.contacts-link {
  color: #2979ff;
  font-size: 14px;
  font-weight: 400;
  line-height: 24px;
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.contacts-item {
  margin-top: 0;
  margin-bottom: 8px;
}

.contact-container {
  margin-bottom: 40px;
}

.skills-container {
  margin-bottom: 40px;
}

.skills-title {
  color: #161d2a;
  font-weight: 700;
  font-size: 22px;
  line-height: normal;
  margin: 0 0 8px;
}

.skills-list {
  padding-left: 24px;
}

.skills-list li {
  color: #161d2a;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
}

.my-profession {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  color: #000;
  margin-bottom: 8px;
}

.my-name {
  font-weight: 700;
  font-size: 45px;
  line-height: 55px;
  color: #000;
  margin-top: 0;
  margin-bottom: 12px;
}

.my-descr {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-info {
  margin-bottom: 40px;
}

.my-projects-title,
.work-experience-title,
.education-title {
  font-weight: 700;
  font-size: 22px;
  line-height: 27px;
  color: #000;
  margin-top: 0;
  margin-bottom: 8px;
}

.my-projects-list {
  padding-left: 18px;
}

.my-projects-list li {
  font-weight: 700;
  font-size: 14px;
  line-height: 24px;
  color: #000;
}
.my-projects-list li a {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration: underline;
  color: #005fff;
}

.my-projects-item-tech {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}

.my-projects-container,
.work-experience-container {
  margin-bottom: 40px;
}

.work-experience-company {
  font-weight: 700;
  font-size: 16px;
  line-height: 20px;
  color: #000;
  margin-top: 0;
  margin-bottom: 12px;
}

.work-experience-company span {
  color: #6d9bf5;
}

.work-experience-period {
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
  color: #a8a8a8;
  margin-bottom: 8px;
}

.work-experience-period span {
  color: #000;
}

.work-experience-duties-list li {
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #595959;
}
.work-experience-duties-list {
  padding-left: 18px;
}

.work-company-container {
  margin-top: 0;
  margin-bottom: 12px;
}

.education-univ {
  font-weight: 700;
  font-size: 16px;
  color: #6d9bf5;
  margin-bottom: 8px;
}

.education-fac {
  font-weight: 700;
  font-size: 14px;
  color: #000;
  margin-bottom: 8px;
}

.education-period {
  font-weight: 400;
  font-size: 12px;
  color: #a8a8a8;
}

.education-period span {
  color: #000;
}
.education-title {
  margin-bottom: 8px;
}

/*----------------------------------*/

@media screen and (min-width: 511px) and (max-width: 960px) {
  body {
    padding: 20px;
  }
  .main-content {
    padding: 40px;
  }
  .wrapper {
    width: 100%;
  }
}

@media screen and (min-width: 511px) and (max-width: 800px) {
  .sidebar {
    width: 250px;
  }

  .my-photo {
    width: 250px;
  }
  .sidebar-content {
    padding: 20px;
  }

  .contacts-item {
    white-space: nowrap;
  }
  .short600 {
    visibility: hidden;
    position: relative;
  }
  .short600::after {
    content: "0507040848.ua@...";
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
  }
  .contacts-link {
    line-height: 20px;
  }
}

@media screen and (min-width: 511px) and (max-width: 600px) {
  body {
    padding: 0;
  }
  .my-photo {
    width: 200px;
  }
  .sidebar {
    width: 200px;
  }
  .main-content {
    padding: 20px;
  }
  .sidebar-content {
    padding-left: 10px;
  }
}

@media screen and (max-width: 510px) {
  .wrapper {
    flex-direction: column;
  }
  .my-photo {
    width: 100%;
  }

  .sidebar {
    width: 100%;
  }
}

@media screen and (max-width: 420px) {
  .contacts-item {
    white-space: nowrap;
  }
  .short600 {
    visibility: hidden;
    position: relative;
  }
  .short600::after {
    content: "0507040848.ua@...";
    visibility: visible;
    position: absolute;
    left: 0;
    top: 0;
  }
  .contacts-link {
    line-height: 20px;
  }
}
